{% extends 'mailing/base.html' %}

{% block title_page %}
    {% if object %}
        {{ title_page_update }}
    {% else %}
        {{ title_page_create }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if object %}
                                    <a class="btn btn--sm btn-outline-secondary"
                                       href="{% url "mailing:client-detail" object.id %}"
                                       role="button">{{ back }}</a>
                                {% else %}
                                    <a class="btn btn--sm btn-outline-secondary"
                                       href="{% url "mailing:client-list" %}"
                                       role="button">{{ back }}</a>
                                {% endif %}
                                <button type="submit" class="btn btn-outline-success">
                                    {% if object %}
                                        {{ title_page_update }}
                                    {% else %}
                                        {{ title_page_create }}
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}