{% extends "mailing/base.html" %}

{% block title_page %}
    {{ title_list_logging_mailing }}
{% endblock %}

{% block title %}
    <h2>{{ title_list_logging_mailing }}</h2>
{% endblock %}

{% block content %}
    <div class="container text-center col-9">
        <div class="col align-self-center">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered ">
                        <tr>
                            <th>{{ mailing }}</th>
                            <th>{{ status_attempt }}</th>
                        </tr>
                        {% for object in object_list %}
                            <tr>
                            <td>{{ object.mailing }}</td>
                            {% if object.status_attempt %}
                                <td>{{ successfully }}</td>
                            {% else %}
                                <td>{{ not_successfully }}</td>
                            {% endif %}
                            <td><a class="btn btn--sm btn-secondary"
                                   href="{% url 'mailing:logging_mailing-detail' object.id %}"
                                   role="button">{{ view }}
                            </a></td>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}