{% extends "mailing/base.html" %}

{% block title_page %}
    {{ object.mailing.name }}
{% endblock %}


{% block content %}
    <div class="container text-center col-9">
        <div class="col align-self-center">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered ">
                        <tr>
                            <th>{{ mailing }}</th>
                            <th>{{ last_attempt_mailing }}</th>
                            <th>{{ status_attempt }}</th>
                            <th>{{ response }}</th>
                        </tr>
                        <tr>
                            <td>{{ object.mailing.name }}</td>
                            <td>{{ object.last_attempt_mailing }}</td>
                            {% if object.status_attempt %}
                                <td>{{ successfully }}</td>
                            {% else %}
                                <td>{{ not_successfully }}</td>
                            {% endif %}
                            <td>{{ object.response }}</td>
                    </table>
                    <a class="btn btn--sm btn-outline-secondary"
                       href="{% url 'mailing:logging_mailing-list' %}"
                       role="button">{{ back }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}