{% extends "mailing/base.html" %}

{% block title_page %}
    Список рассылок
{% endblock %}

{% block title %}
    <h2>Список рассылок</h2>
{% endblock %}

{% block content %}
    <div class="container text-center col-6">
        <div class="col align-self-center">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-info mb-3"
                       href="{% url 'mailing:mailing-create' %}" role="button">Добавить рассылку
                    </a>
                    <table class="table table-bordered">
                        <tr>
                            <th>Название рассылки</th>
                            <th>Статус рассылки</th>
                            <th></th>
                        </tr>
                        {% for object in object_list %}
                            <tr>
                            <td>{{ object.name }}</td>
                            <td>{{ object.status_mailing }}</td>
                            <td><a class="btn btn--sm btn-secondary"
                                   href="{% url 'mailing:mailing-detail' object.id %}"
                                   role="button">Посмотреть
                            </a></td>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}