{% extends "mailing/base.html" %}

{% block title_page %}
    {{ user_page }}
{% endblock %}

{% block title %}
    <h3>{{ user_list }}</h3>
{% endblock %}

{% block content %}
    <div class="container text-center col-6">
        <div class="col align-self-center">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>{{ email }}</th>
                            <th>{{ is_active }}</th>
                        </tr>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.email }}</td>
                                {% if object.is_active %}
                                    <td><a class="btn btn-warning"
                                           href="{% url 'mailing:switcher_user_active' object.pk %}">Деактивировать</a>
                                    </td>
                                {% else %}
                                    <td><a class="btn btn-success"
                                           href="{% url 'mailing:switcher_user_active' object.pk %}">Активировать</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}