{% extends 'mailing/base.html' %}

{% block title_page %}
Регистрация
{% endblock %}

{% block content %}
<div class="container text-center col-5">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Регистрация</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}