<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:message-list' %}">Mailing</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:client-list' %}">Client</a>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:message-list' %}">Message</a>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:logging-list' %}">LoggingMailing</a>
{#                        {% if user.is_authenticated %}#}
{#                            <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Log out</a>#}
{#                                {% else %}#}
{#                            <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Log in</a>#}
{#                            <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Registration</a>#}
{#                        {% endif %}#}
                        </li>
                </ul>
            </div>
        </div>
    </div>
</nav>