<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:info-view' %}">Главная страница</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:mailing-list' %}">Рассылки</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:client-list' %}">Клиенты</a>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:message-list' %}">Сообщения</a>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:logging_mailing-list' %}">Попытки рассылки</a>
{#                        {% if user.is_authenticated %}#}
{#                            <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Log out</a>#}
{#                                {% else %}#}
{#                            <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Log in</a>#}
{#                            <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Registration</a>#}
{#                        {% endif %}#}
                        </li>
                </ul>
            </div>
        </div>
    </div>
</nav>